@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
nav {
    background-image: url("../concrete-texture.png");
    position: fixed;
}

body {
    background-image: url('../concrete-texture.png');
    color: #566787;
    /* background: #f5f5f5;*/
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}


/* table styles */

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    max-width: 2000px;
    min-width: 500px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 60px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}


/* Modal styles */

.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
    font-size: 14px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#reloj {
    background-image: url("../concrete-texture.png");
    display: inline-block;
    text-decoration: none;
    outline: none !important;
    border: none;
    font-size: 20px;
}

#input {
    background-image: url("../concrete-texture.png");
    border: none;
}


/* home styles */

#reloj {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 5px;
}

#logo {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#subt {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 30px;
}

#subt2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 60px;
}

#ca {
    margin-bottom: 10px;
}

#carouselExampleIndicators {
    width: 1000px;
    max-height: 500px;
    float: none;
}